$font-family1: 'Source Sans Pro', sans-serif;
$font-family2: 'Hind', sans-serif;
$font-family3: 'Fresca', sans-serif;

$colors: (
    mainColor: #fff,
    mainColorFont: #fff,
    secondColor: #21232e,
    highlightColor: #14a0c7,
    buttonColor: #699900
);

$headerBG: url(../img/m-h-day.jpg);
$borderRadius: 7px;
$fwBold: bold;
$gradient: linear-gradient(to right, map-get($colors, buttonColor), #2e5cd2);