body {
  display: inline-flex;
  flex-direction: column;
  margin: 0;
  width: 100vw;
  min-width: 900px;
  font-size: calc(10px + 6 * ((100vw - 350px) / 1350));
}

hr {
  border-top: 1px #777;
  margin: 60px 0 80px 0;
}

.header {
  display: flex;
  flex-direction: column;
  width: 100vw;
  min-width: 900px;
}

.header .fl-main-nav,
.header .fl-main-nav ul {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.header .fl-main-nav .landing-logo {
  margin: auto 0;
}

.header .fl-main-nav .landing-logo .logo_text {
  text-transform: uppercase;
  font-size: 1.3em;
}

.header .fl-main-nav .landing-logo .logo_text:hover {
  color: #bfba55;
}

.header .fl-main-nav ul {
  list-style-type: none;
}

.header .fl-main-nav ul .fl-nav-item {
  margin: 0 20px;
  padding: 15px 5px;
  font-size: 1.1em;
}

.header .fl-main-nav ul .fl-nav-item:hover {
  color: #bfba55;
}

.header .fl-main-nav ul .fl-nav-item a {
  text-decoration: none;
  color: inherit;
}

.header .header-wrap {
  position: relative;
  background: url(../img/home-bg.jpg);
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: #FFFFFF;
  text-align: center;
  width: 100vw;
  height: calc(100vw/2);
  z-index: -2;
}

.header .header-wrap:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: -1;
}

.header .header-wrap .header_heading {
  font-size: 4.3em;
  font-weight: bold;
  margin-bottom: 0;
  min-width: 900px;
}

.header .header-wrap .header_text {
  font-size: 1em;
  color: #bfba55;
  margin-bottom: 50px;
}

.header .header-wrap .header_button {
  width: 170px;
  text-transform: uppercase;
  font-size: .75em;
  height: 50px;
  margin: 0 auto;
  border-radius: 30px;
  background-color: #FFFFFF;
}

.section {
  min-width: 900px;
  width: 100vw;
  padding: 7em 0;
  margin: 0 auto;
}

.section .section_template_wrap {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: calc(100vw*0.7);
  max-width: 900px;
  margin: 0 auto;
}

.section .section_template_wrap .section_template {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.section .section_template_wrap .section_template .section_template_img {
  width: 100%;
}

.section .section_template_wrap .section_template .section_template_container {
  margin-top: 10px;
}

.section .section_template_wrap .section_template .section_template_container .section_template_heading {
  font-size: 2em;
  font-weight: bold;
  margin-bottom: 10px;
}

.section .section_template_wrap .section_template .section_template_container .section_template_expert_info {
  display: flex;
  flex-direction: row;
}

.section .section_template_wrap .section_template .section_template_container .section_template_expert_info .expert_info_container {
  display: flex;
  flex-direction: row;
}

.section .section_template_wrap .section_template .section_template_container .section_template_expert_info .expert_info_container .expert_info_img {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  margin-left: 5px;
}

.section .section_template_wrap .section_template .section_template_container .section_template_expert_info .expert_info_container .expert_info_name {
  padding: 0 15px;
}

.section .section_template_wrap .section_template .section_template_container .section_template_expert_info .expert_info_date {
  margin-right: 30px;
}

.section .section_template_wrap .section_template .section_template_container .section_template_text {
  font-family: serif;
  font-size: 1.1em;
  line-height: 1.7em;
  margin-bottom: 30px;
  color: #777;
}

.section .section_template_wrap .section_template .section_template_container .sectio_template_button {
  border: 1px solid #777;
  border-radius: 35px;
  width: 180px;
  height: 50px;
  font-family: serif;
  font-size: 1.05em;
  color: #777;
  background-color: #FFFFFF;
}

.footer {
  background-color: #000;
  color: #FFFFFF;
}

.footer .footer-container {
  display: flex;
  min-width: 900px;
  width: calc(100vw*0.7);
  justify-content: space-evenly;
  margin: 0 auto;
  padding: 3em 0;
}

.footer .footer-container .footer-container_left {
  width: 450px;
  font-size: 1.1em;
}

.footer .footer-container .footer-container_left .footer_header {
  font-size: 1.7em;
}

.footer .footer-container .footer-container_left .footer_text {
  opacity: .4;
}

.footer .footer-container .footer-container_right {
  width: 310px;
}

.footer .footer-container .footer-container_right .footer_header {
  font-size: 1.7em;
  margin-bottom: -5px;
}

.footer .footer-container .footer-container_right .footer_text {
  opacity: .4;
  white-space: pre-line;
  margin: 0;
  line-height: 1.8em;
}

.footer .footer-container span {
  opacity: .4;
}